@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


/* logo */
.displayed {
    padding-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    padding-top: 50px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18pt;
    color: #2a90cb;
    font-weight: bold;
    font-style: italic;
}

.res {
    color: red;
    font-style: normal;
}

.res2 {
    font-style: normal;
}

#divBusca {
    border: solid 2px #9acf22;
    border-radius: 20px;
    width: 350px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    display: block;
}

#txtBusca {
    font-style: italic;
    font-size: 18px;
    padding: 10px;
    margin-left: 10px;
    border: none;
    outline: none;
    height: 32px;
    width: 280px;
}

#btnBusca {
    float: right;
    padding: 2px;
    margin-right: 20px;
}

::placeholder {
    color: #dbd9d9;
    font-size: 18px;
    text-align: center;

}

.name {
        font-family: 'Source Sans Pro',
        sans-serif;
        font-size: 12pt;
        color: #069ef7;
        font-style: italic;
        font-weight: bold;
}

#tabelaBanco {
        display: block;
        margin-left: auto;
        margin-right: auto;
}